aws_region = "us-east-1"
prefix = "tesla-backend-dev"
project_name = "tesla-backend"
environment = "dev"
allowed_callback_urls = ["http://localhost:5173"]
db_username = "tesla_backend_user"
db_password = ""
mq_username = "tesla_mq_user"
mq_password = ""
alb_secret_token = "tesla-dev-super-secret-token"
cache_retention_days = 1
cloudfront_secret_header = "d7e48c81-5ecc-4f94-8b07-2560b23f853a"
allowed_image_origins = [
  "http://localhost:5173",
  "http://localhost:3000",
]